<div class="container">
  <div class="row">
    <div class="col"></div>

      <div class="col-30">
        <h1>Welcome to TicketTopia</h1>

        <p>Tickets for the following events are currently available:</p>

    <div class="row">
      <div class="col">
        <p>Nombre</p>
      </div>
      <div class="col">
        <p>Descripción</p>
      </div>
      <div class="col">
        <p>Lugar</p>
      </div>
      <div class="col">
        <p>Fecha</p>
      </div>
    </div>
    <div class="row">
      <% @events.each do |event| %>
      <div class="col">
        <p><%= link_to event.name, event %></p>
      </div>
      <div class="col">
        <p><%=event.description%></p>
      </div>
      <div class="col">
        <p><%=event.event_venue.name%></p>
      </div>
      <div class="col">
        <p><%=event.start_date.in_time_zone()%></p>
      </div>
      <% end %>
    </div>


      </div>
      <div class="col"></div>

  </div>
</div>


<br>

<% if can? :create, Event %>
<%= link_to 'New Event', new_event_path %>
<% end %>